<html>
<body>
    <canvas id="canvas"></canvas>
</body>

<script type="text/javascript" src="/js/jsmpeg.min.js"></script>
<script type="text/javascript">
    player = new JSMpeg.Player('ws://192.168.1.26:9999', {
      canvas: document.getElementById('canvas') // Canvas should be a canvas DOM element
    })	
</script>
</html>